.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,h2,h3,p{
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px auto;
  width: 300px
}
.balance__container{
  display: flex;
  /* align-items: flex-start; */
  margin-top: 20px;
  flex-direction: column;
  /* justify-content: space-between; */
}

.incexp__container{
  display: flex;
  /* align-items: flex-start; */
  margin-top: 20px;
   justify-content: space-between;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.income{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-right: 1px solid #dedede;
  flex : 1
}

.money{
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.plus{
  color : green
}

.expense{
  display: flex;
  flex : 1;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.minus {
  color : red;
}

.list {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 40px;
  /* height : 200px;
  overflow-y: scroll; */
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  /* top: 50%; */
  left: 0;
  transform: translate(-100%, -0%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.addButton{
  width: 105%;
  margin-top : 20px;
  margin-bottom : 20px;
  padding: 15px 15px;
  border: none;
  background-color: #333;
  color: #fff;
}
button:focus{
  outline: none;
}
label{
  display: inline-block;
  margin : 10px 0
}